.transaction-table {
  table {
    .subject-not-defined {
      color: #00000085;
    }
    .cancel-icon-box {
      justify-content: center;
      align-items: center;
      .cancel-icon-btn {
        &-span {
          font-size: 25px;
        }
      }
    }
  }
}
