.header {
  padding: 10px;
  .menu-show-navigation {
    padding: 6px;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
      width: fit-content;
      background-color: var(--green-6);
      color: white;
    }
    &:active {
      background-color: var(--green-7);
    }
  }
  .app-name-slogan {
    .app-name {
      color: var(--green-9);
      margin: 0;
    }
    .app-slogan {
      color: var(--green-8);
    }
  }
  .user-block {
    color: var(--green-7);
    .vr {
      width: 1px;
      height: 40px;
      opacity: 1;
      margin: auto 10px;
    }
    .small-vr {
      height: 20px;
      margin: auto 5px;
    }
    .logout-button {
      text-decoration: none;
      color: unset;
      &:hover {
        color: rgb(221, 12, 12);
        font-weight: bold;
      }
    }
    .userFirstName {
      font-weight: 500;
      margin: 0 5px 0 5px;
    }
    span {
      cursor: pointer;
    }
  }
}
