.header {
  padding: 10px;
  .menu-show-navigation {
    padding: 6px;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
      width: fit-content;
      background-color: var(--primary-color-6);
      color: white;
    }
    &:active {
      background-color: var(--primary-color-7);
    }
  }
  .app-name-slogan {
    .app-name {
      color: var(--primary-color-9);
      margin: 0;
    }
    .app-slogan {
      color: var(--primary-color-8);
    }
  }
  .user-block {
    color: var(--primary-color-7);
    .vr {
      width: 1px;
      height: 40px;
      opacity: 1;
      margin: auto 10px;
    }
    .small-vr {
      height: 20px;
      margin: auto 5px;
    }
    .logout-button {
      text-decoration: none;
      color: unset;
      &:hover {
        color: var(--red-3);
        font-weight: bold;
      }
    }
    .userFirstName-block {
      cursor: pointer;
      font-weight: 500;
      padding: 2px 0px 2px 5px;
      border-radius: 10px;
      .userFirstName {
        margin: 0 0px 0 5px;
      }
      &:hover {
        background: #e3f1e5;
      }
      &:active {
        background: #cadbcd;
      }
    }
  }
}
.user-infos-menu {
  .userInfos {
    text-align: center;
    padding: 16px 16px;
    font-size: 1.1rem;
    .username {
      font-weight: 500;
      font-size: 1.2rem;
    }
  }
  .list-item:hover {
    background-color: var(--primary-color-1);
  }
  .logout:hover {
    background: #ff000013;
  }
}
