.navigation {
  padding: 15px 10px;
  .close-nav-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    .hide-navigation {
      font-size: 1.7rem;
      font-weight: 700;
      color: var(--green-6);
    }
  }
  .hr {
    height: 1px;
  }
  .options {
    .option {
      font-size: 14px;
      line-height: 1rem;
      padding: 10px 5px 10px 10px;
      margin: 0 0 5px 0;
      .text {
        margin: 0 0 0 10px;
      }
    }
    .option:hover {
      background-color: #95d5b2;
      color: white;
      font-weight: 500;
    }
    .activate-nav-list-btn {
      background-color: #95d5b2;
      color: white;
      font-weight: 500;
    }
  }
}
