.header {
  padding: 10px;
  .menu-show-navigation {
    padding: 6px;
    &:hover {
      cursor: pointer;
      width: fit-content;
      background-color: var(--green-6);
      border-radius: 50%;
      color: white;
    }
  }
  .app-name-slogan {
    .app-name {
      color: var(--green-9);
      margin: 0;
    }
    .app-slogan {
      color: var(--green-8);
    }
  }
}
