.general-auth-component {
  min-height: 100vh;
  align-items: center !important;

  .auth-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 430px !important;
    width: 90% !important;

    .app-logo {
      max-width: 180px;
      width: 80%;
      margin: 0 auto;
      border-radius: 50%;
    }
    .auth-title {
      $couleurPrincipale: #08a703;

      position: relative;
      font-size: 24px;
      font-weight: bold;
      color: $couleurPrincipale;
      text-decoration: none;

      &:after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $couleurPrincipale;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
  }
}
