.elevation-0 {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.309), 0px 1px 3px rgba(0, 0, 0, 0.201),
    0px 2px 0px rgba(0, 0, 0, 0.142);
}
.elevation-1 {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.032), 0px 1px 4px rgba(0, 0, 0, 0.048),
    0px 3px 14px rgba(0, 0, 0, 0.08);
}
.elevation-3 {
  box-shadow: 0px 0.8px 2px rgba(0, 0, 0, 0.032),
    0px 2.7px 6.7px rgba(0, 0, 0, 0.048), 0px 12px 30px rgba(0, 0, 0, 0.08);
}

:root {
  --primary-color-1: #f3fcf4;
  --primary-color-2: #b7e4c7;
  --primary-color-3: #95d5b2;
  --primary-color-4: #74c69d;
  --primary-color-5: #52b788;
  --primary-color-6: #40916c;
  --primary-color-7: #2d6a4f;
  --primary-color-8: #1b4332;
  --primary-color-9: #081c15;

  --red-3: #dd0c0c;
}

.primary-1 {
  background-color: var(--primary-color-1);
  color: black;
}
.primary-2 {
  background-color: var(--primary-color-2);
  color: black;
}
.primary-3 {
  background-color: var(--primary-color-3);
  color: black;
}
.primary-4 {
  background-color: var(--primary-color-4);
  color: black;
}
.primary-5 {
  background-color: var(--primary-color-5);
  color: white;
}
.primary-6 {
  background-color: var(--primary-color-6);
  color: white;
}
.primary-7 {
  background-color: var(--primary-color-7);
  color: white;
}
.primary-8 {
  background-color: var(--primary-color-8);
  color: white;
}
.primary-9 {
  background-color: var(--primary-color-9);
  color: white;
}

.custom-scroll {
  overflow-y: auto;
  max-height: 100vh;
  margin-right: 3px;
  scrollbar-width: thin;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-5);
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color-6);
  border-radius: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: var(--primary-color-2);
  border-radius: 4px;
}
