.general-auth-component {
  max-height: 100vh;
  height: 100vh;
  align-items: center !important;

  .auth-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 470px !important;
    width: 90% !important;
    max-height: calc(100vh - 25px);

    .input-block {
      margin: 0 0 10px 0;
    }

    .app-logo {
      max-width: 180px;
      width: 80%;
      margin: 0 auto;
      border-radius: 50%;
      margin-top: 60px;
    }
    .auth-title {
      $main-color: #08a703;
      position: relative;
      font-size: 24px;
      font-weight: bold;
      color: $main-color;
      text-decoration: none;
      margin-bottom: 0.7rem;
    }
    .auth-bottom-link {
      font-weight: 500;
      margin-top: 0.2rem;
      a {
        font-weight: 700;
      }
    }
  }
}
