.dashboard {
  $nav-width: 250px;
  flex-wrap: nowrap !important;
  .left-element {
    transition: all 400ms ease 0s;
    position: relative;
    width: $nav-width;
    padding: 10px;
    min-height: 100vh;
    right: 0px;
    display: none;
  }
  .right-element {
    flex: 1 1 auto;
    position: relative;
    transition: all 400ms ease 0s;
    .dashboard-header {
      padding: 10px;
    }
    .dashboard-content {
      padding: 10px;
    }
  }
  @media (min-width: 992px) {
    .left-element {
      display: block;
    }
  }
}

@keyframes hideNav {
  from {
    right: 0px;
  }
  to {
    right: 250%;
  }
}
