.dashboard {
  $nav-width: 250px;
  flex-wrap: nowrap !important;
  .left-element {
    position: fixed;
    top: 0;
    left: -$nav-width;
    opacity: 1;
    height: 100vh;

    transition: all 400ms ease 0s;
    width: $nav-width;
    padding: 10px;
    min-height: 100vh;
    z-index: 10;
  }
  .left-element-float {
    display: block;
    background-color: rgba(0, 0, 0, 0.2784313725);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    .navigation {
      width: $nav-width;
    }
  }
  .right-element {
    flex: 1 1 auto;
    position: relative;
    transition: all 400ms ease 0s;
    margin-left: 0;
    .dashboard-header {
      padding: 10px;
    }
    .dashboard-content {
      padding: 10px;
    }
  }
  .add-btn {
    position: fixed;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    bottom: 40px;
    right: 40px;
    &:hover {
      transform: scale(1.05, 1.05);
    }
    span {
      font-weight: bold;
      font-size: 2rem;
    }
  }
  @media (min-width: 992px) {
    .left-element {
      display: block;
      position: fixed;
      left: 0px;
    }
    .left-element-float {
      display: none;
    }
    .right-element {
      margin-left: $nav-width;
    }
  }
}

@keyframes hideNav {
  from {
    right: 0px;
  }
  to {
    right: 250%;
  }
}
